* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.input :focus{
    background-color: rgb(255, 235, 12);
}

.post-container {
    margin: 100px;
    width: 400px;
    height: 400px;
    border: 3px solid white;

}

.container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 280px;
    height: 250px;
    background-color: rgb(207, 224, 109);
}

.form {
    margin-left: 16px;
    position: relative;
    top: 50px;
}

.h2 {
    margin-left: 16px;
    margin-bottom: 15px;
}

.name {
    margin-left: 16px;
    margin-bottom: 12px;
}

.age {
    margin-left: 16px;
    margin-bottom: 12px;
}

.button {
    margin-left: 16px;
    margin-bottom: 12px;
}



